<mat-tab-group>
  <mat-tab label="Wedding">
    <ng-template matTabContent class="dupa">
      <app-wedding-clients></app-wedding-clients>
    </ng-template>
  </mat-tab>
  <mat-tab label="Family/Commercial">
    <ng-template matTabContent>
      <app-other-clients></app-other-clients
    ></ng-template>
  </mat-tab>
</mat-tab-group>

<div class="grid sm:grid-cols-2 grid-cols-1 lg:grid-cols-3 gap-4 mt-20">
  <div><app-clients-summary></app-clients-summary></div>
  <div><app-income-summary></app-income-summary></div>
  <div><app-clients-month></app-clients-month></div>
</div>
