@if(loadingState){

<app-skeleton></app-skeleton>

} @if (clientsByYear.length) {
<mat-button-toggle-group
  name="selectYear"
  #group="matButtonToggleGroup"
  (change)="onValChange(group.value)"
>
  @for (item of uniqueYears; track $index) {
  <mat-button-toggle
    checked="{{ item === $selectedYear() }}"
    value="{{ item }}"
    >{{ item }}</mat-button-toggle
  >
  }
</mat-button-toggle-group>

<mat-tab-group>
  <mat-tab label="Wedding">
    <ng-template matTabContent>
      <app-wedding-clients [clientsData]="clientsByYear"></app-wedding-clients>
    </ng-template>
  </mat-tab>
  <mat-tab label="Family/Commercial">
    <ng-template matTabContent>
      <app-other-clients [clientsData]="clientsByYear"></app-other-clients>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<div
  class="grid sm:grid-cols-2 grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4 mt-20 lg:gap-y-12"
>
  <div>
    <app-clients-summary-doughnut-chart
      [clientsData]="clientsByYear"
    ></app-clients-summary-doughnut-chart>
  </div>
  <div>
    <app-income-summary-bar-chart
      [clientsData]="clientsByYear"
    ></app-income-summary-bar-chart>
  </div>
  <div>
    <app-clients-month-line-chart
      [clientsData]="clientsByYear"
    ></app-clients-month-line-chart>
  </div>
</div>

<div
  class="grid sm:grid-cols-3 grid-cols-1 lg:grid-cols-4 gap-4 mt-20 sm:gap-y-12 xl:gap-y-4"
>
  <app-total-clients
    [clients]="this.clients"
    [clientYearly]="this.clientsByYear"
  ></app-total-clients>

  <app-total-income
    [clients]="this.clients"
    [clientYearly]="this.clientsByYear"
  ></app-total-income>
  <app-total-cost
    [clients]="this.clients"
    [clientYearly]="this.clientsByYear"
  ></app-total-cost>

  @if (currentYear === $selectedYear()) {
  <app-upcoming-assignment [clients]="this.clients"></app-upcoming-assignment>
  }
</div>

} @else {

<h2>No data</h2>
<h3>Please add new client</h3>

<button [routerLink]="['clients/add']">Add</button>

}
