<div class="mat-elevation-z8 bg-white rounded relative mt-14">
  <h2 class="px-4 pt-14">Wedding</h2>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. John"
      #input
    />
  </mat-form-field>

  <div class="icon absolute -top-6 left-5 bg-pink-600 p-5 rounded">
    <mat-icon>people</mat-icon>
  </div>
  <div class="overflow-x-auto">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let row; index as i">{{ i + 1 }}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Wedding Typ</th>
        <td mat-cell *matCellDef="let row">
          {{ mapClientType(row.wedding_type) }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">
          {{ row.groom_name }} & {{ row.bride_name }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Venue/Civil Location
        </th>
        <td mat-cell *matCellDef="let row">
          {{
            row.wedding_type == '1' ? row.location?.name : row.civil_location
          }}
        </td>
      </ng-container>

      <!-- Fruit Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let row">
          {{ row.date.seconds * 1000 | date }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        class="cursor-pointer hover:bg-slate-100 odd:bg-white even:bg-slate-50"
        *matRowDef="let row; let even = even; columns: displayedColumns"
        [routerLink]="['/clients/', row.id]"
      >
        >
      </tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
  </div>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
