<div class="w-full lg:w-3/4 shadow-lg bg-white relative">
  <div
    class="card-header bg-rose-500 py-12 rounded absolute -top-5 shadow-lg"
  ></div>
  <form [formGroup]="form">
    <mat-stepper [linear]="true" #stepper>
      <mat-step
        label="Basic Information"
        state="phone"
        [stepControl]="form.get('basicInformation')!"
        formGroupName="basicInformation"
      >
        <mat-radio-group
          aria-label="Select an option"
          formControlName="client_type"
          (change)="onChange($event)"
        >
          <mat-radio-button value="1">Wedding</mat-radio-button>
          <mat-radio-button value="2">Family</mat-radio-button>
          <mat-radio-button value="3">Commercial</mat-radio-button>
        </mat-radio-group>

        @if (isWedding) {
        <div class="grid grid-cols-1 md:grid-cols-2 gap-20 text-center">
          <div>
            <h2>Groom</h2>

            <div class="grid md:grid-cols-2 gap-4 text-center">
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input
                  matInput
                  placeholder="First Name"
                  formControlName="groom_name"
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Surname</mat-label>
                <input
                  matInput
                  placeholder="Lasr Name"
                  formControlName="groom_surname"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Location</mat-label>
                <input
                  matInput
                  placeholder="Location"
                  formControlName="groom_location"
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Phone number</mat-label>
                <input
                  matInput
                  placeholder="Phone number"
                  formControlName="groom_phone_number"
                />
              </mat-form-field>
            </div>
          </div>
          <div>
            <h2>Bridge</h2>

            <div class="grid md:grid-cols-2 gap-4 text-center">
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input
                  matInput
                  placeholder="First Name"
                  formControlName="bridge_name"
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Surname</mat-label>
                <input
                  matInput
                  placeholder="Surname"
                  formControlName="bridge_surname"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Location</mat-label>
                <input
                  matInput
                  placeholder="Location"
                  formControlName="bridge_location"
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Phone number</mat-label>
                <input
                  matInput
                  placeholder="Phone number"
                  formControlName="bridge_phone_number"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        }

        <div class="grid grid-cols-1 text-center">
          <div>
            <h2>{{ isWedding ? "Venue" : "Location and Info" }}</h2>

            <mat-form-field>
              <mat-label>Location1</mat-label>

              test

              <input
                #inputField
                type="text"
                id="inputField"
                class="form-control"
                matInput
              />
            </mat-form-field>

            <div class="grid md:grid-cols-2 gap-4 text-center">
              <mat-form-field>
                <mat-label>Locationq</mat-label>

                <!-- <app-place-autocomplete [test]="form.get('autocomplete')"> -->
                <!-- </app-place-autocomplete> -->

                <input
                  matInput
                  placeholder="Location"
                  formControlName="location"
                  required
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="date"
                  required
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              @if (!isWedding) {
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input
                  matInput
                  placeholder="Name"
                  formControlName="name"
                  [required]="!isWedding"
                />
              </mat-form-field>

              }
            </div>
          </div>
        </div>

        test @if (isWedding) {

        <h2>Wedding Type</h2>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="wedding_type"
          (change)="onChangeWeddingType($event)"
        >
          <mat-radio-button [checked]="true" value="1"
            >Church Wedding</mat-radio-button
          >
          <mat-radio-button value="2">Civil Wedding</mat-radio-button>
        </mat-radio-group>

        @if (!isChurchWedding &&
        this.form.controls["basicInformation"].value.wedding_type == '2') {

        <div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="wedding_location"
          >
            <mat-radio-button [checked]="true" value="1"
              >Same as Venue</mat-radio-button
            >
            <mat-radio-button value="2">Other</mat-radio-button>
          </mat-radio-group>
        </div>

        } @if (isChurchWedding) {
        <div class="grid grid-cols-1 text-center">
          <div>
            <h2>{{ isChurchWedding ? "Church" : "Civil" }} Location</h2>

            <div class="grid gap-4 text-center">
              <mat-form-field>
                <mat-label
                  >{{
                    isChurchWedding ? "Church" : "Civil"
                  }}
                  Location</mat-label
                >
                <input
                  matInput
                  placeholder="Location"
                  formControlName="wedding_location"
                />
              </mat-form-field>
            </div>
          </div>
        </div>

        } } @if ( this.form.controls["basicInformation"].value.wedding_type ==
        '2' && this.form.controls["basicInformation"].value.wedding_location ==
        '2' ) {

        <div class="grid grid-cols-1 text-center">
          <div>
            <h2>{{ isChurchWedding ? "Church" : "Civil" }} Location</h2>

            <div class="grid gap-4 text-center">
              <mat-form-field>
                <mat-label>Civil Location</mat-label>
                <input
                  matInput
                  placeholder="Civili location"
                  formControlName="civil_location"
                />
              </mat-form-field>
            </div>
          </div>
        </div>

        }

        <div class="flex justify-end">
          <button
            mat-flat-button
            matStepperNext
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
            type="button"
          >
            Next
          </button>
        </div>
      </mat-step>
      <mat-step
        label="Step 2"
        state="chat"
        [stepControl]="form.get('additionalInformation')!"
        formGroupName="additionalInformation"
      >
        <ng-template matStepLabel>Additional Information</ng-template>

        <div class="grid grid-cols-1 gap-20 text-center">
          <div>
            <h2>Additional Information</h2>

            <div class="wrapper-type pb-5">
              @if(isWedding) {
              <mat-chip-listbox
                aria-label="select a shirt size"
                [multiple]="true"
                formControlName="session_type"
              >
                <mat-chip-option> Engagement Session </mat-chip-option>
                <mat-chip-option> Wedding </mat-chip-option>
                <mat-chip-option> Full Movie </mat-chip-option>
                <mat-chip-option> Short </mat-chip-option>
                <mat-chip-option> Wedding Session </mat-chip-option>
              </mat-chip-listbox>
              }
            </div>

            <div class="grid grid-cols-3 gap-4 text-center">
              <mat-form-field>
                <mat-label>Price</mat-label>
                <input
                  type="number"
                  matInput
                  placeholder="Price"
                  formControlName="price"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Petrol</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="Petrol"
                  formControlName="petrol"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Additional Cost</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="Additional cost"
                  formControlName="additional_cost"
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Other</mat-label>
                <textarea
                  matInput
                  placeholder="Other"
                  formControlName="other"
                ></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="flex justify-end">
          <button
            class="next-step-back mr-5"
            mat-button
            matStepperPrevious
            type="button"
          >
            Back
          </button>
          <button
            mat-button
            matStepperNext
            type="button"
            (click)="generateSummary(form)"
          >
            Next
          </button>
        </div>
      </mat-step>
      <mat-step label="Summary">
        Information

        <h2>Summry</h2>

        <div [innerHTML]="summary"></div>

        <div class="flex justify-end">
          <button
            class="next-step-back mr-5"
            type="button"
            mat-button
            matStepperPrevious
          >
            Back
          </button>
          <button mat-button matStepperNext (click)="addClient()">Add</button>
        </div>
      </mat-step>

      <!-- Icon overrides. -->
      <ng-template matStepperIcon="phone">
        <mat-icon>place</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="chat">
        <mat-icon>forum</mat-icon>
      </ng-template>
    </mat-stepper>
  </form>
</div>
