<div class="grid grid-cols-1 md:grid-cols-4 mt-20 sm:gap-y-12 md:gap-4">
  <div
    class="clients col-span-1 bg-white border border-gray-200 rounded-lg shadow sm:p-8 mb-5"
  >
    <div class="col-span-1 client-wrapper">
      <div class="flex items-center justify-between mb-4">
        <h5
          class="text-xl font-bold leading-none text-gray-900 dark:text-white"
        >
          Clients
        </h5>
      </div>
      <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          @for (client of markerss; track client.id; let i = $index) {
          <li
            (mouseenter)="highlightMarker(client)"
            (mouseleave)="unhighlightMarker(client)"
            (click)="openMapInfoWindow(client)"
            class="py-3 sm:py-4 client-marker hover:cursor-pointer mb-1"
            [class.wedding]="client.type === '1'"
            attr.data-client="{{ client.id }}"
          >
            <div class="ms-4">
              <p class="font-semibold text-gray-900 truncate dark:text-white">
                {{ client.name }}
              </p>
              <p class="text-base text-gray-900 dark:text-white">
                {{ client.location }}
              </p>

              <p class="text-sm italic text-gray-900 dark:text-white">
                {{ client.date | date }}
              </p>
            </div>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
  <div
    class="map col-span-3 bg-white border border-gray-200 rounded-lg shadow sm:p-8"
  >
    <!-- google-maps-demo.component.html -->
    <google-map
      height="600px"
      width="100%"
      [zoom]="zoom"
      [center]="center"
      [options]="options"
    >
      <map-marker
        #test="mapMarker"
        *ngFor="let marker of markerss"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="openInfo(test, marker)"
        (mapMouseover)="overMarker(test)"
        (mapMouseout)="mouseLeave(test)"
      ></map-marker>

      <map-info-window>
        <div [innerHTML]="infoContent"></div>
        <button [routerLink]="['/clients', selectedClientId]" mat-icon-button>
          View More
        </button>
      </map-info-window>
    </google-map>
  </div>
</div>
