<mat-sidenav-container class="light-container" [hasBackdrop]="true">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" position="end">
    <div
      data-color="white"
      data-background-color="red"
      data-image="../../../assets/angular2-logo-white.webp"
      class="sidebar px-2"
    >
      <div class="logo flex items-center py-3">
        <a class="simple-text logo-mini"
          ><div class="logo-img mr-3">
            <img
              src="../../../assets/angular2-logo-white.webp"
              class="w-10"
            /></div
        ></a>
        <a [routerLink]="'dashboard'" class="simple-text logo-normal bg-rose-5">
          LIGHT CONNECT
        </a>
      </div>

      <div class="sidebar-wrapper">
        <hr />
        <div class="user flex items-center py-5">
          <div class="photo mr-3">
            <img class="w-10 rounded-full" src="../../../assets/avatar.jpeg" />
          </div>
          <div class="user-info">John Andrew</div>
        </div>
        <hr />
        <!---->
        <ul class="nav">
          <li routerlinkactive="active" class="nav-item active">
            <a class="nav-link" [routerLink]="'dashboard'"
              ><i class="material-icons">dashboard</i>
              <p>Dashboard</p></a
            >
          </li>

          <li routerlinkactive="active" class="nav-item">
            <a
              data-toggle="collapse"
              class="nav-link collapsed"
              [routerLink]="'map'"
              aria-expanded="false"
              ><i class="material-icons">place</i>
              <p>Map<b class="caret"></b></p
            ></a>
          </li>
          <li routerlinkactive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['clients/add']"
              ><i class="material-icons">add_circle</i>
              <p>Add<b class="caret"></b></p
            ></a>

            <!---->
          </li>
        </ul>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <a [routerLink]="'dashboard'" class="simple-text logo-normal bg-rose-5">
        LIGHT CONNECT
      </a>
      <span class="example-spacer"></span>

      <button
        (click)="sidenav.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <div class="main-content py-8 px-10">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
