<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-10 p-8">
  <div>
    <div class="grid grid-cols-1 sm:grid-cols-2">
      <div class="flex flex-col items-start">
        <h4>Before Photo</h4>
        <p><mat-slide-toggle>Umowa </mat-slide-toggle></p>
        <p><mat-slide-toggle>Zadatek wpłacony </mat-slide-toggle></p>
        <p><mat-slide-toggle>Sfotografowane </mat-slide-toggle></p>
      </div>
      <div class="flex flex-col items-start">
        <h4>After photo</h4>
        <p><mat-slide-toggle>Zapłacone </mat-slide-toggle></p>
        <p><mat-slide-toggle>Produkty zamówione </mat-slide-toggle></p>
        <p><mat-slide-toggle>Produkty oddane </mat-slide-toggle></p>
      </div>
    </div>
  </div>

  <div class="border-x-2 border-x-slate-200">
    <div class="pl-8">
      <h4 class="text-start mb-2">Info</h4>

      <ul class="list-group flex flex-col items-start">
        <li class="list-group-item border-0 ps-0 pt-0 text-sm">
          <strong class="text-dark">Name:</strong>

          <span class="text-slate-500">
            {{ client.name }}
          </span>
        </li>
        <li class="list-group-item border-0 ps-0 text-sm">
          <strong class="text-dark">Location:</strong> &nbsp;

          <span class="text-slate-500">
            <!-- {{ client.location }} -->
          </span>
        </li>

        <li class="list-group-item border-0 ps-0 text-sm">
          <strong class="text-dark">Other:</strong> &nbsp;

          <span class="text-slate-500">
            {{ client.other ? client.other : "-" }}
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <div>
      <h3>Cost</h3>
      <ul class="list-group flex flex-col items-start pl-8">
        <li class="list-group-item border-0 ps-0 pt-0 text-sm">
          <strong class="text-dark">Price:</strong>

          <span class="text-slate-500"> {{ client.price }} PLN </span>
        </li>
        <li class="list-group-item border-0 ps-0 text-sm">
          <strong class="text-dark"> Petrol:</strong> &nbsp;

          <span class="text-slate-500"> {{ client.petrol }} PLN </span>
        </li>

        <li class="list-group-item border-0 ps-0 text-sm">
          <strong class="text-dark">Additional Cost:</strong> &nbsp;

          <span class="text-slate-500"> {{ client.additional_cost }} PLN </span>
        </li>
      </ul>
    </div>
  </div>
</div>
